html, body {
  height: 100%;
  width: 100%;
  font-family: Arial;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: white;
  }
  .content-start {
    background: linear-gradient(to bottom, #191970, #000);
  }
  .content-mid {
    background: linear-gradient(to top, #000, #11114d, #000);
  }
  .content-end {
    background: linear-gradient(to top, #191970, #000);
  }
  .content-one a img:hover {background-color: #ffffff55; transition-duration: 0.3s;}
  .tag {background-color: #191970;}
  .tag:hover {background-color: #00aaff; color: black;}
}

@media (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: black;
  }
  .content-start {
    background: linear-gradient(to bottom, #00ddff, #fff);
  }
  .content-mid {
    background: linear-gradient(to top, #fff, #00ddff, #fff);
  }
  .content-end {
    background: linear-gradient(to top, #00ddff, #fff);
  }
  .content-one a img:hover {background-color: #00000055; transition-duration: 0.3s;}
  .tag {background-color: #00bbff;}
  .tag:hover {background-color: #191970; color: white;}
}

.content-one {
  -webkit-animation: fadein 2s!important; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s!important;
}

.content {
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 4s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.content {
  border-radius: 15px;
  padding: 10px 25px;
  max-width: 400px;
  width: 75%;
}

.content-one > a {
  padding: 3px 3px;
}

.content-one > a > img {
  padding: 7px 7px;
  border-radius: 4px;
  transition-duration: 0.3s;
}

.content {
  border-radius: 15px;
  padding: 10px 25px;
  max-width: 400px;
}

.tag {
  border: 0px;
  border-radius: 1000px;
  padding: 6px 12px;
  transition-duration: 0.2s;
}

.tag:hover {cursor: default; transition-duration: 0.2s;}

.vsecspacing {
  height: 1%;
}
