html, body {
  height: 100%;
  width: 100%;
  font-family: Arial;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000030;
    color: white;
  }
  .content-one {
    background: linear-gradient(to top, #0b0b2d, #191970);
  }
  .content {border: 1px solid #0091ff;}
  .content-one a img:hover {background-color: #00aaffc9; transition-duration: 0.3s;}
}

@media (prefers-color-scheme: light) {
  body {
    background: #00ddff;
    color: black;
  }
  .content-one {
    background: linear-gradient(to top, #00ddff, #fff);
  }
  .content {border: 1px solid #191970;}
  .content-one a img:hover {background-color: #0000d2c9; transition-duration: 0.3s;}
}

.content-one {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 2s;
}

.two {
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  animation: fadein 4s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.content-one {
  border-radius: 15px;
  padding: 10px 25px;
  max-width: 400px;
  width: 75%;
}

.content-one > a {
  padding: 3px 3px;
}

.content-one > a > img {
  padding: 7px 7px;
  border-radius: 4px;
  transition-duration: 0.3s;
}

.content {
  border-radius: 15px;
  padding: 10px 25px;
  max-width: 400px;
}
